
//
// Base
//
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;

  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

input {
  padding: 5px;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin: 10px;
  width: 200px;
}
