.App {
  text-align: center;

}

input {
  padding: 5px;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin: 10px;
  width: 200px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  max-width: 1000px;
  margin: 10px auto 30px;
}

.photo {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.photo:hover {
  transform: scale(1.05);
}

